% vim:syn=erlang
{sub_dirs, [
    "apps/pibot",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
     {lager, ".*", {git, "git://github.com/360degrees/lager", {branch, "master"}}}
    ,{'erlang-brickpi', ".*", {git, "git@github.com:mijkenator/BrickPi_Erlang.git", "master"}}
    ,{tx, ".*", {git, "git://github.com/kvakvs/tx.git", "master"}}
    ,{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.0"}}
    ,{ex_reloader, ".*", {git, "git://github.com/360degrees/ex_reloader.git", "master"}}
%    ,{erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git", "master"}}
    ,{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
    ,{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform}
]}.

{port_env, [
    {"DRV_CFLAGS" , "-g -fPIC -MMD $ERL_CFLAGS"}
    ,{"EXE_CFLAGS" , "-g -fPIC -MMD $ERL_CFLAGS"}
]}.
