%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "pibot", "1",
        [
         kernel,
         stdlib,
         sasl,
         pibot
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "pibot"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},

       {app, log4erl,    [{incl_cond, exclude}]},
       {app, tx,         [{incl_cond, include}]},
       {app, cowboy,     [{incl_cond, include}, {vsn, "1.0.0"}]},
       {app, ranch,      [{incl_cond, include}, {vsn, "1.0.0"}]},
       {app, lager,      [{incl_cond, include}, {vsn, "2.0.0"}]},
       {app, jiffy,      [{incl_cond, include}]},
       {app, gproc,      [{incl_cond, include}]},
       {app, 'erlang-brickpi',      [{incl_cond, include}]},

       {app, pibot, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "pibot"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "pibot/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/pibot", "bin/pibot"},
           {copy, "files/pibot.cmd", "bin/pibot.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
